<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CÁMARAS
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/estilo.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        script(src="js/wow.js")
        script(src="js/manejo.js")
    body
        .menu.wow.fadeInDown
            ul.listado.mx-auto
                li 
                    a(href="#block-3")   De Mano
                li 
                    a(href="#block-4")   De Pared
                li 
                    a(href="#block-5")   Biométrica
                li 
                    a(href="https://api.whatsapp.com/send?phone=56988395231&text=Hola%20mi%20nombre%20es%20Maribel%20%C2%BFTe%20puedo%20ayudar?" target="_blank")   Contacto
        
        .BLOCK-1.bloques
            .container
                h1.text-center  CÁMARAS
                h2.text-center  TERMOGRÁFICAS Y BIOMÉTRICAS
                img.mx-auto(src="img/logos-grises.png" alt="logos")
                .circulo.wow.fadeInUp
                    img.mx-auto.productos(src="img/productos.png" alt="productos")
        .BLOCK-2.bloques
            img.frase(src='img/frase.png' alt="frase")
            .container
                img.mx-auto.wow.fadeInDown(src="img/logo-blanco.png" alto="logo hikvision")
                .texto-bajada Las cámaras de detección de fiebre de Hikvision pueden detectar temperaturas corporales elevadas de individuos en medio de multitudes en movimiento, como pasajeros y compradores, con una precisión de hasta 0.3°C.±  
                p Las cámaras de tecnología termométrica permite la rápida detención de la temperatura corporal eficaz herramienta de prevención. Cuenta con diferentes modelos de escaneo por seguridad y adaptación a las necesidades de cada cliente.
                .row.BLOCK-HIK
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        img.mx-auto.wow.fadeInLeft(src="img/imagen.jpg" alto="people")
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        .block-detalle
                            // SLIDE  TEXTOS 
                            .slider
                                .slider-wrapper
                                    #slide-1-a.slide-item-a.slide-item
                                        h3  DETENCIÓN DE TEMPERATURA
                                        h3.light EN 1 SEGUNDO
                                    #slide-2-a.slide-item-a.slide-item
                                        h3  DETECCIÓN  DE
                                        h3.light VARIAS PERSONAS A LA VEZ
                                    #slide-3-a.slide-item-a.slide-item
                                        h3  VERIFICACIÓN BIOMÉTRICA
                                        h3.light SIN CONTACTO
                                    #slide-4-a.slide-item-a.slide-item
                                        h3  MEDICIÓN A DISTACIA SIN
                                        h3.light CONTACTO DIRECTO
                                    #slide-5-a.slide-item-a.slide-item
                                        h3  NOTIFICACIÓN DE
                                        h3.light ALERTA AUTOMÁTICA
                                    #slide-6-a.slide-item-a.slide-item
                                        h3  EVITA FALSAS 
                                        h3.light ALARMAS
                                    #slide-7-a.slide-item-a.slide-item
                                        h3  TECNOLOGÍA BI-SPECTRUM
                                        h3.light BI-SPECTRUM                                                                                       
                                .slide-dots
                                    a.dot(href='#slide-1-a')
                                    a.dot(href='#slide-2-a')
                                    a.dot(href='#slide-3-a')
                                    a.dot(href='#slide-4-a')
                                    a.dot(href='#slide-5-a')
                                    a.dot(href='#slide-6-a')
                                    a.dot(href='#slide-7-a')
    

        .BLOCK-3.bloques#block-3            
            .container-fluid
                .row
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        .bk.wow.fadeInLeft
                            .titulo CÁMARAS <br><span>TERMOGRÁFICAS</span><br> DE MANO
                            .codigo  ds-2tp31b-3auf
                            .row    
                                .col-12.col-sm-12.col-md-6.col-lg-6
                                    a.boton(href="https://api.whatsapp.com/send?phone=56988395231&text=Hola%20mi%20nombre%20es%20Maribel%20%C2%BFTe%20puedo%20ayudar?" target="_blank") COTIZAR
                                .col-12.col-sm-12.col-md-6.col-lg-6
                                    a.boton(href="https://www.youtube.com/watch?v=DU7eh3FTXbI" target="_blank") VER VIDEO
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        img.uno.wow.fadeInRight(src="img/mano.png" alt="camara  de mano")

        .BLOCK-4.bloques#block-4            
            .container-fluid
                .row
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        .bk.wow.fadeInLeft
                            .titulo CÁMARAS <br><span>TERMOGRÁFICAS</span><br> DE PARED
                            .codigo  ds-2td2617b-6/pa -  ds-2td2636b-15/pa
                            a.boton(href="https://api.whatsapp.com/send?phone=56988395231&text=Hola%20mi%20nombre%20es%20Maribel%20%C2%BFTe%20puedo%20ayudar?" target="_blank") COTIZAR
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        img.uno.wow.fadeInRight(src="img/images-2.png" alt="camara  de pared")

        .BLOCK-5.bloques#block-5 
            .container-fluid 
                img.mx-auto.teco.wow.fadeInDown(src="img/logoteco.png" alt="logo")
                .bk-txt 
                    .texto-bajada Conoce las soluciones de control de acceso sin contacto y con detección de temperatura corporal
                    p Ideales para museos, estadios, aeropuertos, estaciones, instituciones educativas y, en general, cualquier negocio que requiera soluciones sin contacto para evitar propagación de enfermedades.
                
                .row
                    .col-12.col-sm-6.col-md-6.col-lg-6
                        img.bio.wow.fadeInUp(src="img/bio.png" alt="camaras")

                    .col-12.col-sm-6.col-md-6.col-lg-6
                        .bk-verde
                            img.iconos(src="img/iconos.png" alt="iconos")
                            // SLIDE  TEXTOS 
                            .slider
                                .slider-wrapper
                                    #slide-1-b.slide-item-b.slide-item
                                        h3  RECONOCIMIENTOS
                                        h3.light DE ROSTRO Y PALMA
                                    #slide-2-b.slide-item-b.slide-item
                                        h3  DETECCIÓN
                                        h3.light DE TEMPERATURA
                                    #slide-3-b.slide-item-b.slide-item
                                        h3  VERIFICACIÓN BIOMÉTRICA
                                        h3.light SIN CONTACTO
                                    #slide-4-b.slide-item-b.slide-item
                                        h3  DETECCIÓN E IDENTIFICACIÓN
                                        h3.light DE USO DE MASCARILLAS
                                    #slide-5-b.slide-item-b.slide-item
                                        h3  DISTANCIA DE MEDICIÓN:
                                        h3.light 30-50 CM
                                    #slide-6-b.slide-item-b.slide-item
                                        h3  PRECISIÓN DE MEDICIÓN: 
                                        h3.light ±0.3°C 
                                    #slide-7-b.slide-item-b.slide-item
                                        h3  CAPACIDAD DE 
                                        h3.light 6,000 ROSTROS                                                                                       
                                .slide-dots
                                    a.dot(href='#slide-1-b')
                                    a.dot(href='#slide-2-b')
                                    a.dot(href='#slide-3-b')
                                    a.dot(href='#slide-4-b')
                                    a.dot(href='#slide-5-b')
                                    a.dot(href='#slide-6-b')
                                    a.dot(href='#slide-7-b')
                            .row
                                .col-sm-12.col-sm-12.col-md-12.col-lg-6.cover
                                    a.boton(href="https://api.whatsapp.com/send?phone=56988395231&text=Hola%20mi%20nombre%20es%20Maribel%20%C2%BFTe%20puedo%20ayudar?" target="_blank") COTIZAR
                                .col-sm-12.col-sm-12.col-md-12.col-lg-6.cover
                                    a.boton(href="https://www.youtube.com/watch?v=H0TwuxnaKHQ" target="_blank") VIDEO